* {
  box-sizing: border-box;
}

.background {
  height: 100%;
  width: 100%;
  position: fixed;
}

.opacity {
  height: 100%;
  width: 100%;
  opacity: 0.25;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}
/* .background img {
  border: 1px solid grey;
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
} */

body,
html {
  scroll-behavior: smooth;
  text-align: center;
  height: 100%;
  background: linear-gradient(141deg, grey 0%, grey 51%, grey 75%);
}

div.container {
  position: relative;
  font-family: "Fira Sans Condensed", sans-serif;
  color: bisque;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 100px;
}

.container * {
  z-index: 1;
}

@media (max-width: 768px) {
  .name {
    display: none;
  }
}
@media (min-width: 768px) {
  .name {
    z-index: 2;
    position: fixed;
    top: 30px;
    left: 30px;
    color: bisque;
    transition: color 0.2s ease-in;
    font-weight: 400;
    font-family: "Fira Sans Condensed", sans-serif;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }
}
.name:hover {
  text-decoration: none;
  color: turquoise;
  transform: scale(1.1);
}

.github,
.gmail,
.instagram {
  width: 60px;
  height: 60px;
  stroke: turquoise;
  stroke-width: 0.5px;
  stroke-opacity: 0.6;
  opacity: 0.7;
  padding-bottom: 1rem;
  fill: turquoise;
}

.github:hover,
.instagram:hover,
.gmail:hover {
  transform: scale(1.1);
}

button {
  background-color: inherit;
  border: 1px solid transparent;
  font-size: 16px;
  transition: 0.4s;
  margin-right: 1rem;
  font-family: "Fira Sans Condensed", sans-serif;
  color: bisque;
  text-transform: uppercase;
}

button:hover {
  transform: scale(1.1);
  filter: grayscale(50%);
  font-weight: 900;
  cursor: pointer;
  color: turquoise;
}

.section {
  width: 100%;
  display: flex;
  min-height: 300px;
  margin-bottom: 100px;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
}
.section-left,
.section-right,
.section-center {
  min-height: 150px;
  width: 100%;
  justify-content: center;
}

@media (min-width: 768px) {
  .section {
    flex-direction: row;
  }
  .section-left,
  .section-right,
  .section-center {
    margin-top: 100px;
    padding-top: 200px;
    width: 50%;
    text-align: left;
    font-family: "Fira Sans Condensed", sans-serif;
  }
}
.section-center p {
  text-align: left;
}
.section-left p {
  text-align: left;
  font-family: "Fira Sans Condensed", sans-serif;
}
.section-right p {
  text-align: left;
  font-family: "Fira Sans Condensed", sans-serif;
}

.menu {
  position: fixed;
  top: 30px;
  right: -100px;
  display: flex;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  cursor: pointer;
}

.menu.open {
  right: 80px;
  opacity: 1;
  pointer-events: auto;
}

.menu-btn {
  position: fixed;
  top: 20px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.menu-btn__burger {
  width: 25px;
  height: 4px;
  background: bisque;
  border-radius: 3px;
  box-shadow: 0 0px 2px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  left: 0;
  top: 20px;
  position: absolute;
  z-index: 1;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 4px;
  background: bisque;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  left: 0;
  top: 0;
}
.menu-btn__burger::before {
  transform: translateY(-8px);
}

.menu-btn__burger::after {
  transform: translateY(8px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.logos svg {
  z-index: 1;
  position: relative;
  stroke: turquoise;
  stroke-width: 0.5px;
  stroke-opacity: 0.7;
  width: 49%;
  height: 80px;
  margin-bottom: 2rem;
  top: 25%;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}
.bottom p {
  bottom: 0;
  text-transform: uppercase;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 12px;
}
.contact {
  text-transform: uppercase;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 12px;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.picture {
  max-height: 700px;
  max-width: 700px;
  width: 400px;
  height: 400px;
  z-index: 2;
  stroke: black;
  stroke-width: 0.5px;
  position: flex;
  justify-content: left;
  border: 1px solid transparent;
  border-radius: 20%;
}

.project {
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 24px;
}

.skill {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 22px;
}
.about_me {
  text-align: left;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 22px;
}
